<div class="panel panel-default">
  <div class="panel-body">
    <form class="login-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
        [(ngModel)]="email"
        name="email"
        type="email"
        class="form-control"
        id="email"
        required
        email
        #prmEmail="ngModel"
        placeholder="Email">
        <div *ngIf="prmEmail.invalid">
          <div class="alert alert-danger" *ngIf="prmEmail.errors.required">
            Email field is required.
          </div>
          <div class="alert alert-danger" *ngIf="prmEmail.errors.email">
            Email field not valid.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
        [(ngModel)]="password"
        name="password"
        type="password"
        class="form-control"
        id="password"
        required
        minlength="5"
        #passwd="ngModel">
        <div *ngIf="passwd.invalid">
          <div class="alert alert-danger" *ngIf="passwd.errors.required">
            Password field is required.
          </div>
          <div class="alert alert-danger" *ngIf="passwd.errors.minlength">
            Password must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div *ngIf="prmEmail.valid && passwd.valid">
        <button (click)="loginService.login(email, password)" class="btn btn-default">
          Submit
        </button>
    </div>
    </form>
  </div>
</div>
