.modal {
	display: block;
}

.modal-dialog {
	width: 400px;
}

.modal-backdrop{
  opacity: 0.6;
}

.modal-buttons{
  width: 100px;
}

.modal-header::before, .modal-header::after{
	content: none;
}
.modal-invoice-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal .btn-close {
	background-color: transparent;
}

.modal .alert {
  margin-top: 10px;
  padding: 5px;
}
