<div class="container" *ngIf="isOpen">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-invoice-header">
          <h4 class="modal-title">New invoice</h4>
          <button (click)="invoiceService.toggleAddModal()" type="button" class="btn btn-close">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="invoice-name">Title:</label>
            <input
            [(ngModel)]="title"
            type="text"
            class="form-control"
            id="invoice-name"
            required
            minlength="4"
            #invoiceTitle="ngModel">
            <div *ngIf="invoiceTitle.invalid && (invoiceTitle.dirty || invoiceTitle.touched)" class="alert alert-danger">
              <div *ngIf="invoiceTitle.errors.required">
                Title is required.
              </div>
              <div *ngIf="invoiceTitle.errors.minlength">
                Title must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="!invoiceTitle.invalid">
            <button (click)="addInvoice()" type="button" class="btn">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop"></div>
</div>
