<div class="invoice-page">
  <h1>Invoice List</h1>
  <div class="row invoice-control">
    <input
    [formControl]="searchControl"
    type="text"
    class="form-control invoice-search"
    placeholder="Search">
    <button (click)="invoiceService.toggleAddModal()" type="button" class="btn">
      <span class="glyphicon glyphicon-plus"></span> Add invoice
    </button>
  </div>

  <app-invoice-table
    [searchString]="searchString"
    class="invoice-table-list">
  </app-invoice-table>

  <app-invoice-modal
    [isOpen]="invoiceService.isAddModalOpen">
  </app-invoice-modal>
</div>
