<td>{{invoiceData.title}}</td>
<td class="actions">
  <button (click)="remove()" type="button" class="btn invoice-control">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <button (click)="dublicate()" type="button" class="btn invoice-control">
    <span class="glyphicon glyphicon-duplicate"></span>
  </button>
</td>
