<table class="table invoice-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr app-invoice-row-id
      *ngFor="let invoice of visibleInvoices; let i = index"
      [invoiceData]="invoice"
      [index]="i">
    </tr>
  </tbody>
</table>
